body{
    background-color: black;
    color: aliceblue;
}

#countdown-container {
    display: inline-block; /*displays divs on a line*/
    width: 300px; /*gives the div element a width of 300px*/
    border-radius: 5px; /*curves the edges of the div element by 5px;*/
}
#countdown {
    display: inline-block; /*displays divs on a line*/
}

#countdown span, #percentage-container span {
    font-family: "Fira Sans", sans-serif; /*changes the text font in the divelement */
    font-size: 20px; /*changes the text size in the span element*/
}